.container-orbe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ball{
    display: flex;
    height: 40%;
    width: auto;
    justify-content: center;
    align-items: start;
}

.bowl{
    display: flex;
    height: 40%;
    width: auto;
    justify-content: center;
    align-items:end;
}
@keyframes move-image {
    0% {
      transform: translateX(0) translateY(0);
    }
    100% {
      transform: translateX(-50%) translateY(-50%);
    }
  }
  
  .animate-move {
    animation: move-image 0.5s linear forwards;
  }
  
  .gif-overlay-ball {
    animation: move-image 0.5s linear forwards;
  }

  .container-orbe {
    border: 2px solid red;
  }
  
  .ball, .bowl {
    border: 2px solid blue;
  }
  .gif-overlay-ball {
    will-change: transform;
  }



  