.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gif-overlay-ball {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    z-index: 2;  
    aspect-ratio: 1/1;
    order: 2;
    position: relative; /* Ensure the ball is positioned relative to its container */
}

.ball-gif {
    align-items: center;
    width: auto;
    height: auto;
    justify-content: center;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.gif-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.new-gif {
    opacity: 0;
    transition: opacity 2s;
}

.fade-out {
    opacity: 0;
    transition: opacity 2s;
}


