<div class="container">
    <!-- Center Batton -->
    <div class="batton center-batton">
        <img class="batton-img" src="batton.png" alt="Logo">
        <div class="gif-overlay-batton">
            <div class="batton-top-gif">
                <img src="fireball_symetrique_2.gif" alt="Top GIF" class="batton-gif">
            </div>
            <div class="batton-bottom-gif">
                <img src="fireball_symetrique_2.gif" alt="Bottom GIF" class="batton-gif">
            </div>
        </div>
    </div>
    <!-- Left Batton -->
    <div class="batton left-batton">
        <img class="batton-img" src="batton.png" alt="Logo">
        <div class="gif-overlay-batton">
            <div class="batton-top-gif">
                <img src="fireball_symetrique_2.gif" alt="Top GIF" class="batton-gif">
            </div>
            <div class="batton-bottom-gif">
                <img src="fireball_symetrique_2.gif" alt="Bottom GIF" class="batton-gif">
            </div>
        </div>
    </div>
    <!-- Right Batton -->
    <div class="batton right-batton">
        <img class="batton-img" src="batton.png" alt="Logo">
        <div class="gif-overlay-batton">
            <div class="batton-top-gif">
                <img src="fireball_symetrique_2.gif" alt="Top GIF" class="batton-gif">
            </div>
            <div class="batton-bottom-gif">
                <img src="fireball_symetrique_2.gif" alt="Bottom GIF" class="batton-gif">
            </div>
        </div>
    </div>
</div>