.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.batton {
    position: absolute;
    width: auto; /* Adjust as needed to fit within the container */
    height: 100%; /* Maintain aspect ratio */
    display: flex;
    justify-content: center;
    align-items: center;    
    transform-origin: center; /* Ensure rotation is around the center */
    aspect-ratio: 1/1;

}

.center-batton {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: 1;
}

.left-batton {
    top: 50%;
    left: calc(50% - 15%); /* Adjust to position the left batton correctly */
    transform: translate(-50%, -50%) rotate(25deg);
    z-index: 2;
}

.right-batton {
    top: 50%;
    left: calc(50% + 15%); /* Adjust to position the right batton correctly */
    transform: translate(-50%, -50%) rotate(-25deg);
    z-index: 2;
}

.batton-img {
    width: 100%;
    height: 100%;
}

.gif-overlay-batton {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    aspect-ratio: 1/1;
    transition: opacity 1s ease-in-out;
}

.batton-top-gif, .batton-bottom-gif {
    display: flex;
    position: absolute;
    width: 30%;
    height: 30%;
    object-fit: contain;
    aspect-ratio: 1/1;
    left: 35%;
    z-index: 0;
}
.batton-top-gif {
    top: -1.5%;
}

.batton-bottom-gif {
    bottom: -1.5%;
}

.batton-gif {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.gif-overlay-staff {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    z-index: 2;  
    aspect-ratio: 1/1;
    order: 2;
    position: relative; /* Ensure the staff is positioned relative to its container */
}

.staff-gif {
    align-items: center;
    width: auto;
    height: auto;
    justify-content: center;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: relative; /* Ensure the images are positioned relative to the staff */
}

.gif-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.new-gif {
    opacity: 0;
    transition: opacity 2s;
}

.fade-out {
    opacity: 0;
    transition: opacity 2s;
}
