<div class="container">
    <div class="container-orbe">
        <app-orbe></app-orbe>
        <!--
        <div class="gif-overlay-ball-left">
            <div ballLeft class="ball-left-gif move-image" (load)="onImagesLoaded($event)">
              <img src="balles/mandala.gif" alt="Top GIF" class="ball-gif">
            </div>
        </div>
        <div class="gif-overlay-bowl-left">
            <div class="bowl-left-gif">
                <img src="support/candle.gif" alt="Top GIF" class="bowl-gif">
            </div>
        </div>
        -->
    </div>
    <div class="container-staff">
        <app-staff></app-staff>
    </div>
    <div class="container-orbe">
        <app-orbe></app-orbe>
        <!--
        <div class="gif-overlay-ball-right">
            <div class="ball-right-gif">
                <img src="balles/mandala.gif" alt="Top GIF" class="ball-gif">
            </div>
        </div>
        <div class="gif-overlay-bowl-right">
            <div class="bowl-right-gif" (load)="allImagesLoaded($event)">
                <img src="support/candle.gif" alt="Top GIF" class="bowl-gif">
            </div>
        </div>
        -->
    </div>
</div>